<nav
  class="size-full flex justify-between items-center h-20 px-4 text-custom-brown-900 z-50 relative select-none"
  [ngClass]="{
    'bg-primary-500': navbarStyle() === 'solid',
    'bg-primary-500/80': navbarStyle() === 'transparent',
    'text-white': navbarStyle() === 'text-white'
  }"
>
  <div class="h-15 w-fit p-2">
    @if (navbarStyle() === 'text-white') {
    <img
      src="logos/2.2.webp"
      i18n-alt
      alt="navbar logo"
      class="h-full w-auto max-w-[200px] object-contain ml-20"
      routerLink="inicio"
    />
    } @else {
    <img
      src="logos/2.1.webp"
      i18n-alt
      alt="navbar logo"
      class="h-full w-auto max-w-[200px] object-contain ml-20"
      routerLink="inicio"
    />
    }
  </div>
  <ul
    class="flex md:items-center uppercase font-semibold tracking-[2px]"
    [class.hidden]="!isMenuOpen()"
    [ngClass]="{
      'w-full flex-col absolute top-[80px] left-0 h-[calc(100dvh-145px)] bg-primary-500 z-50':
        mobileView(),
      'flex-row h-full': !mobileView()
    }"
  >
    <li
      class="navbar-item"
      [ngClass]="{
        'w-full': mobileView(),
        'w-fit': !mobileView()
      }"
      routerLinkActive="active"
      (click)="itemClick()"
      routerLink="proyectos"
      i18n
    >
      Proyectos
    </li>
    <li
      class="navbar-item"
      [ngClass]="{
        'w-full': mobileView(),
        'w-fit': !mobileView()
      }"
      routerLinkActive="active"
      (click)="itemClick()"
      routerLink="servicios"
      i18n
    >
      Servicios
    </li>
    <li
      class="navbar-item"
      [ngClass]="{
        'w-full': mobileView(),
        'w-fit': !mobileView()
      }"
      routerLinkActive="active"
      (click)="itemClick()"
      routerLink="nosotros"
      i18n
    >
      Nosotros
    </li>
    <li
      class="navbar-item"
      [ngClass]="{
        'w-full': mobileView(),
        'w-fit': !mobileView()
      }"
      routerLinkActive="active"
      (click)="itemClick()"
      routerLink="contacto"
      i18n
    >
      Contacto
    </li>
  </ul>

  @if (mobileView()) {
  <div
    class="size-10 cursor-pointer hover:bg-primary-600 active:bg-primary-700 flex items-center justify-center"
    [ngClass]="{
      'bg-primary-500': navbarStyle() === 'solid',
      'bg-primary-500/80': navbarStyle() === 'transparent',
    }"
    (click)="toggleMenu()"
  >
    <button
      class="menu-toggle h-fit w-fit"
      [attr.aria-expanded]="isMenuOpen()"
      aria-label="Toggle navigation menu"
      title="Toggle menu"
    >
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
  </div>
  }
</nav>
