<nav
  class="size-full flex justify-between items-center h-20 px-4 bg-primary-500 text-custom-brown-900 z-50 relative select-none"
>
  <div class="h-15 w-fit p-2">
    <img src="logos/2.1.webp" i18n-alt alt="navbar logo" class="h-full w-auto object-contain" routerLink="inicio" />
  </div>
  <ul
    class="flex md:items-center uppercase font-semibold"
    [class.hidden]="!isMenuOpen()"
    [ngClass]="{
      'w-full flex-col absolute top-[95px] left-0 h-[calc(100dvh-95px)] bg-primary-500 z-50':
        mobileView(),
      'flex-row h-full': !mobileView()
    }"
  >
    <li
      class="navbar-item"
      [ngClass]="{
        'w-full': mobileView(),
        'w-fit': !mobileView()
      }"
      routerLinkActive="active"
      (click)="itemClick()"
      routerLink="inicio"
      i18n
    >
      Inicio
    </li>
    <li
      class="navbar-item"
      [ngClass]="{
        'w-full': mobileView(),
        'w-fit': !mobileView()
      }"
      routerLinkActive="active"
      (click)="itemClick()"
      routerLink="proyectos"
      i18n
    >
      Proyectos
    </li>
    <li
      class="navbar-item"
      [ngClass]="{
        'w-full': mobileView(),
        'w-fit': !mobileView()
      }"
      routerLinkActive="active"
      (click)="itemClick()"
      routerLink="servicios"
      i18n
    >
      Servicios
    </li>
    <li
      class="navbar-item"
      [ngClass]="{
        'w-full': mobileView(),
        'w-fit': !mobileView()
      }"
      routerLinkActive="active"
      (click)="itemClick()"
      routerLink="nosotros"
      i18n
    >
      Nosotros
    </li>
    <li
      class="navbar-item"
      [ngClass]="{
        'w-full': mobileView(),
        'w-fit': !mobileView()
      }"
      routerLinkActive="active"
      (click)="itemClick()"
      routerLink="contacto"
      i18n
    >
      Contacto
    </li>
  </ul>

  @if (mobileView()) {
  <div
    class="size-10 bg-primary-500 cursor-pointer hover:bg-primary-600 active:bg-primary-700 flex items-center justify-center"
    (click)="toggleMenu()"
  >
    <button
      class="menu-toggle h-fit w-fit"
      [attr.aria-expanded]="isMenuOpen()"
      aria-label="Toggle navigation menu"
      title="Toggle menu"
    >
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
  </div>
  }
</nav>
