@import 'tailwindcss';
@theme {
  --font-naftegfo: 'Naftegfo', sans-serif;

  --color-primary-50: #ffffff;
  --color-primary-100: #fefcf8;
  --color-primary-200: #fdf9f1;
  --color-primary-300: #fcf6ea;
  --color-primary-400: #fbf3e3;
  --color-primary-500: #faf0dc;
  --color-primary-600: #d4b972;
  --color-primary-700: #9b8752;
  --color-primary-800: #665834;
  --color-primary-900: #352d18;
  --color-primary-950: #211b0c;

  --color-secondary-50: #eafbb6;
  --color-secondary-100: #dcf28d;
  --color-secondary-200: #c4d87d;
  --color-secondary-300: #afc16f;
  --color-secondary-400: #98a860;
  --color-secondary-500: #849253;
  --color-secondary-600: #6e7a44;
  --color-secondary-700: #546330;
  --color-secondary-800: #3c4323;
  --color-secondary-900: #212611;
  --color-secondary-950: #141708;

  --color-custom-blue-50: #e6eff7;
  --color-custom-blue-100: #ccdfef;
  --color-custom-blue-200: #95c1e0;
  --color-custom-blue-300: #75a3c3;
  --color-custom-blue-400: #5d839d;
  --color-custom-blue-500: #466478;
  --color-custom-blue-600: #306379;
  --color-custom-blue-700: #2a3e4b;
  --color-custom-blue-800: #1b2a33;
  --color-custom-blue-900: #0f1920;
  --color-custom-blue-950: #080f14;

  --color-custom-brown-50: #f6f3f3;
  --color-custom-brown-100: #ece3e3;
  --color-custom-brown-200: #dccbcb;
  --color-custom-brown-300: #cbafaf;
  --color-custom-brown-400: #bd9494;
  --color-custom-brown-500: #b17777;
  --color-custom-brown-600: #9c6363;
  --color-custom-brown-700: #7f4f4f;
  --color-custom-brown-800: #623c3c;
  --color-custom-brown-900: #411d1d;
  --color-custom-brown-950: #3c2323;

  --color-contrast-50: #ebebeb;
  --color-contrast-100: #d7d7d7;
  --color-contrast-200: #b0b0b0;
  --color-contrast-300: #898989;
  --color-contrast-400: #666666;
  --color-contrast-500: #444444;
  --color-contrast-600: #373737;
  --color-contrast-700: #2a2a2a;
  --color-contrast-800: #1f1f1f;
  --color-contrast-900: #131313;
  --color-contrast-950: #0b0b0b;
}

@font-face {
  font-family: 'Naftegfo';
  src: url('/fonts/Naftegfo.otf') format('opentype');
  font-display: swap;
  font-weight: thin;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  font-family: var(--font-naftegfo) !important;
  letter-spacing: 2px;
}
